@using Questions
@{
    ViewBag.Title = "Qorus Software";
}

<div class="jumbotron" style="background-color: darkorange">
    <h1>Qorus Developer Test 2014</h1>
    <p class="lead">
        Please complete questions 1 through 5.  You are welcome to use any relevant Microsoft technologies
        and frameworks to complete the tests. You will need to modify some code in the "Questions" project
        as well as some views in the "WebUI" project.
    </p>
    <h5><b>Candidate: </b>Reinoud van Buitenen</h5>
    <h5><b>Date:</b> 18/12/2015</h5>
    <h5>The test should take between 2 and 3 hours to complete.  Once completed, please make sure the your full name and date is correct above</h5>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Question 1</h2>
        <p>@Question1.Title</p>
    </div>
    <div class="col-md-4">
        <h2>Question 2</h2>
        <p>@Question2.Title</p>
    </div>
    <div class="col-md-4">
        <h2>Question 3</h2>
        <p>@Question3.Title</p>
    </div>
    <div class="col-md-4">
        <h2>Question 4</h2>
        <p>@Question4.Title</p>
    </div>
    <div class="col-md-4">
        <h2>Question 5</h2>
        <p>@Question5.Title</p>
    </div>
</div>